body {

    background-color: black;
    margin: 0;
    padding: 0;
    /* filter: url(#kill); */
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 80px 0 0 0;
    padding: 0;
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes example {
    from {filter: drop-shadow(0 0 10px red),blur(0.9px);}
    to {filter: drop-shadow(0 0 6px red) blur(0.3px);}
  }

.inner {
    /* width:300px; */
    /* height:300px; */
    /* border:2px solid white; */
    text-align: center;
    display: flex;
    position:relative;
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
    transform: scale(450%);
    filter: drop-shadow(0 0 10px red) blur(0.6px);
    margin-top:50px;
    animation-name: example;
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    /* mix-blend-mode: overlay; */
}
#leftEye{
    margin-right:20px;
}
.eye{
    overflow: visible;
    position:relative;
}
.inner svg {
    display: inline-block;
    /* filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.9)); */
    filter: drop-shadow(0px 5px 2px rgba(0, 0, 0, 0.2));
}
.blink{
    animation-name: Blink;
    animation-duration: 0.4s;
}
@keyframes Blink {
    from {transform: scaleY(1)}
    to {transform: scaleY(0)}
  }

path {
    fill: #bc304b;
    display: none;
}

#rightEye {
    margin-right:0px!important;
    transform: scaleX(-1);
}

#controls {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index:10;
    /* display:none; */
}
.hidden{
    display:none;
}
.fullscreen{
    margin-left:30px;
}
#singleInner{
    /* font-size: 3em; */
    z-index: 9;
    /* background-color: red; */
    pointer-events: none;
    position:absolute;
    text-align: center;
    /* bottom:100px; */
    /* display: none; */
    opacity:0%;
    width:100%; 
    /* right: 20px; */
    /* top:400px; */
}
#singleInner .in{
    display: inline-block;
    width:50px;
    height:100%;
    /* background-color: green; */
}
#singleInner h1{
    font-size: 5em;
    font-family: sans-serif;
    top:80px;
    position:relative;
}
